
.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-bold";

}

p{
  color: grey;
}
body{
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid{
  padding: 7% 15%;
}


/* sections */
.white-section{
  background-color: white;

}
.colored-section
{
  background-color: #FF4C68;
  color: white;
}
/* title section */

/* Navigation Bar */
.navbar{
  padding:0 0  4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;

}
/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}
/* Title image */
.Title-image{
  width: 60%;
  transform: rotate(25deg);

}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
@media (max-width: 1028px) {
  .Title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
/* Feature */
#features{
  padding:7% 15%;

}
.features-Title{
  font-size: 1.5rem;
}
.Feature-box{
  padding: 4.5%;
}
.Feature-icon{
  color: #EF8172;
  margin-bottom: 1rem;
}
.Feature-icon:hover{
  color: #FF4C68;
}

/* Testimonials */
#testimonials {
  background-color: #EF8172;
}
.testimonials-image{
  width: 10%;
  /* makes the image rounded */
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding:7% 15%;
}
.testimonials-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* press */
#press{
  background-color: #EF8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing{
  padding: 5%;

}

.pricing-col{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* call to action */

/* footer */

.social-icon{
  margin: 20px 10px;
}
